Repository dialpad/dialtone-vue, pull requests merged in 2023-11, with the labels that each got.

#1291 feat: add description list component vue 3
  components/description_list/description_list.mdx
  components/description_list/description_list.stories.js
  components/description_list/description_list.test.js
  components/description_list/description_list.vue
  components/description_list/description_list_constants.js
  components/description_list/description_list_default.story.vue
  components/description_list/description_list_validators.js
  components/description_list/index.js
  index.js
Labels: visual-test-ready

#1293 fix(message-input): add max height prop for the input area
  recipes/conversation_view/message_input/message_input.stories.js
  recipes/conversation_view/message_input/message_input.vue
  recipes/conversation_view/message_input/message_input_default.story.vue
Labels: no-visual-test

#1295 refactor(icon): update dialtone icons usage
  .github/workflows/visual_tests.yml
  .storybook/preview.jsx
  common/storybook_utils.js
  components/avatar/avatar.test.js
  components/badge/badge.test.js
  components/datepicker/datepicker.test.js
  components/icon/icon.stories.js
  components/icon/icon.test.js
  components/icon/icon.vue
  components/icon/icon_constants.js
  components/icon/icon_variants.story.vue
  components/input/input.stories.js
  components/list_item/list_item.test.js
  components/notice/notice_icon.test.js
  package-lock.json
  package.json
  recipes/buttons/callbar_button/callbar_button.stories.js
  recipes/comboboxes/combobox_multi_select/combobox_multi_select.test.js
  recipes/conversation_view/feed_pill/feed_item_pill.test.js
  recipes/leftbar/general_row/general_row.test.js
  recipes/leftbar/unread_pill/unread_pill.test.js
  recipes/list_items/contact_info/contact_info.stories.js
  recipes/notices/top_banner_info/top_banner_info.stories.js
  tests/shared_examples/classes.js
  vite.config.js
Labels: visual-test-ready

#1294 refactor(icon): update dialtone icons usage
  .github/workflows/visual_tests.yml
  .storybook/preview.jsx
  common/storybook_utils.js
  components/avatar/avatar.test.js
  components/badge/badge.test.js
  components/datepicker/datepicker.test.js
  components/icon/icon.stories.js
  components/icon/icon.test.js
  components/icon/icon.vue
  components/icon/icon_constants.js
  components/icon/icon_variants.story.vue
  components/input/input.stories.js
  components/list_item/list_item.test.js
  components/notice/notice_icon.test.js
  package-lock.json
  package.json
  recipes/buttons/callbar_button/callbar_button.stories.js
  recipes/comboboxes/combobox_multi_select/combobox_multi_select.test.js
  recipes/conversation_view/feed_pill/feed_item_pill.test.js
  recipes/leftbar/general_row/general_row.test.js
  recipes/leftbar/unread_pill/unread_pill.test.js
  recipes/list_items/contact_info/contact_info.stories.js
  recipes/notices/top_banner_info/top_banner_info.stories.js
  tests/shared_examples/classes.js
  vite.config.js
Labels: visual-test-ready

#1298 docs(tooltip): add sticky popper variation
  components/tooltip/tooltip.mdx
  components/tooltip/tooltip.stories.js
  components/tooltip/tooltip_change_on_click.story.vue
  percy.config.cjs
Labels: visual-test-ready

#1299 docs(tooltip): add sticky popper variation
  components/tooltip/tooltip.mdx
  components/tooltip/tooltip.stories.js
  components/tooltip/tooltip_change_on_click.story.vue
  percy.config.cjs
Labels: visual-test-ready

#1301 fix: enter event stop propagation on suggestion list
  components/rich_text_editor/extensions/suggestion/SuggestionList.vue
Labels: no-visual-test

#1302 docs: fix not working stories
  .storybook/main.js
  .storybook/preview.jsx
  components/banner/banner.vue
  components/banner/banner_default.story.vue
  components/breadcrumbs/breadcrumbs.vue
  components/button/button.test.js
  components/chip/chip.test.js
  components/chip/chip.vue
  components/combobox/combobox_default.story.vue
  components/dropdown/dropdown_variants.story.vue
  components/image_viewer/image_viewer.test.js
  components/input/input.mdx
  components/item_layout/item_layout.mdx
  components/lazy_show/lazy_show.mdx
  components/link/link.mdx
  components/list_item_group/list_item_group_default.story.vue
  components/modal/modal.mdx
  components/modal/modal.test.js
  components/notice/index.js
  components/notice/notice_action.test.js
  components/popover/popover.mdx
  components/popover/popover.test.js
  components/popover/popover.vue
  components/radio/radio.mdx
  components/radio_group/radio_group.mdx
  components/radio_group/radio_group.test.js
  components/rich_text_editor/extensions/link/link.test.js
  components/tabs/tabs.mdx
  components/toast/index.js
  components/toast/toast.vue
  components/toast/toast_default.story.vue
  components/tooltip/tooltip.stories.js
  components/tooltip/tooltip.vue
  components/tooltip/tooltip_variants.vue
  directives/tooltip/tooltip_directive_default.story.vue
  package-lock.json
  percy.config.cjs
  recipes/buttons/callbar_button_with_popover/callbar_button_with_popover.test.js
  recipes/chips/grouped_chip/grouped_chip.mdx
  recipes/chips/grouped_chip/grouped_chip.stories.js
  recipes/comboboxes/combobox_multi_select/combobox_multi_select.stories.js
  recipes/comboboxes/combobox_multi_select/combobox_multi_select_default.story.vue
  recipes/comboboxes/combobox_with_popover/combobox_with_popover.stories.js
  recipes/comboboxes/combobox_with_popover/combobox_with_popover_default.story.vue
  recipes/leftbar/callbox/callbox.mdx
  recipes/leftbar/contact_row/contact_row.mdx
  recipes/leftbar/general_row/general_row.mdx
  recipes/leftbar/group_row/group_row.mdx
  recipes/leftbar/unread_pill/unread_pill.mdx
  recipes/list_items/contact_info/contact_info.mdx
  scripts/build-docs.js
Labels: visual-test-ready

#1303 docs: fix not working stories
  .storybook/main.js
  .storybook/preview.jsx
  components/banner/banner.vue
  components/banner/banner_default.story.vue
  components/breadcrumbs/breadcrumbs.vue
  components/button/button.test.js
  components/chip/chip.test.js
  components/chip/chip.vue
  components/combobox/combobox_default.story.vue
  components/dropdown/dropdown_variants.story.vue
  components/input/input.mdx
  components/item_layout/item_layout.mdx
  components/lazy_show/lazy_show.mdx
  components/link/link.mdx
  components/list_item_group/list_item_group_default.story.vue
  components/modal/modal.mdx
  components/modal/modal.test.js
  components/notice/index.js
  components/notice/notice_action.test.js
  components/popover/popover.mdx
  components/popover/popover.test.js
  components/popover/popover.vue
  components/radio/radio.mdx
  components/radio_group/radio_group.mdx
  components/radio_group/radio_group.test.js
  components/rich_text_editor/extensions/link/link.test.js
  components/tabs/tabs.mdx
  components/toast/index.js
  components/toast/toast.vue
  components/toast/toast_default.story.vue
  components/tooltip/tooltip.stories.js
  components/tooltip/tooltip.vue
  components/tooltip/tooltip_variants.vue
  directives/tooltip/tooltip_directive_default.story.vue
  package-lock.json
  percy.config.cjs
  recipes/buttons/callbar_button_with_popover/callbar_button_with_popover.test.js
  recipes/chips/grouped_chip/grouped_chip.mdx
  recipes/chips/grouped_chip/grouped_chip.stories.js
  recipes/comboboxes/combobox_multi_select/combobox_multi_select.stories.js
  recipes/comboboxes/combobox_multi_select/combobox_multi_select_default.story.vue
  recipes/comboboxes/combobox_with_popover/combobox_with_popover.stories.js
  recipes/comboboxes/combobox_with_popover/combobox_with_popover_default.story.vue
  recipes/leftbar/callbox/callbox.mdx
  recipes/leftbar/contact_row/contact_row.mdx
  recipes/leftbar/general_row/general_row.mdx
  recipes/leftbar/group_row/group_row.mdx
  recipes/leftbar/unread_pill/unread_pill.mdx
  recipes/list_items/contact_info/contact_info.mdx
  scripts/build-docs.js
Labels: visual-test-ready

#1306 feat(message-input): edit message mode using the same recipe
  recipes/conversation_view/message_input/message_input.stories.js
  recipes/conversation_view/message_input/message_input.vue
  recipes/conversation_view/message_input/message_input_default.story.vue
Labels: visual-test-ready

#1309 feat: upgrade vite to v5 and node to v20
  .github/workflows/bundle-size-regression-checker.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/deploy.yml
  .github/workflows/lint-commit-message.yml
  .github/workflows/lint-pr.yml
  .github/workflows/linters.yml
  .github/workflows/unit_tests.yml
  .github/workflows/visual_tests.yml
  .nvmrc
  package-lock.json
  package.json
Labels: visual-test-ready

#1304 fix(collapsible): use correct transition timing variable
  components/collapsible/collapsible_lazy_show.vue
Labels: no-visual-test

#1305 fix(collapsible): use correct transition timing variable
  components/collapsible/collapsible_lazy_show.vue
Labels: no-visual-test

#1310 chore(tooltip, toast, button): import normalization
  components/notice/index.js
  components/toast/toast.vue
  components/tooltip/index.js
  components/tooltip/tooltip.mdx
  components/tooltip/tooltip.vue
  components/tooltip/tooltip_constants.js
  directives/tooltip/tooltip.test.js
  recipes/buttons/callbar_button/callbar_button.test.js
  recipes/buttons/callbar_button/callbar_button.vue
  recipes/conversation_view/emoji_row/emoji_row.test.js
  recipes/conversation_view/feed_pill/feed_item_pill.vue
  tests/shared_examples/events.js
Labels: visual-test-ready

#1311 chore(tooltip, toast, button): import normalization
  components/emoji_picker/modules/emoji_skin_selector.vue
  components/notice/index.js
  components/toast/toast.vue
  components/tooltip/index.js
  components/tooltip/tooltip.mdx
  components/tooltip/tooltip.vue
  components/tooltip/tooltip_constants.js
  directives/tooltip/tooltip.test.js
  recipes/buttons/callbar_button/callbar_button.test.js
  recipes/buttons/callbar_button/callbar_button.vue
  recipes/conversation_view/emoji_row/emoji_row.test.js
  recipes/conversation_view/feed_pill/feed_item_pill.vue
  recipes/conversation_view/message_input/message_input.test.js
  recipes/conversation_view/message_input/message_input.vue
  tests/shared_examples/events.js
Labels: visual-test-ready

#1313 change event name to skin-tone
  recipes/conversation_view/message_input/message_input.stories.js
  recipes/conversation_view/message_input/message_input.vue
  recipes/conversation_view/message_input/message_input_default.story.vue
Labels: no-visual-test

#1312 feat(dp-84718): emit skin tone when selected
  recipes/conversation_view/message_input/message_input.stories.js
  recipes/conversation_view/message_input/message_input.vue
  recipes/conversation_view/message_input/message_input_default.story.vue
Labels: no-visual-test

#1316 fix: npm run lint not detecting errors
  .eslintignore
  components/checkbox/checkbox.test.js
  components/radio/radio.test.js
  components/tabs/tab_group.test.js
  package.json
  recipes/cards/ivr_node/ivr_node.test.js
  tests/fixtures/radios.vue
  tools/popover-memory-test/README.md
  tools/popover-memory-test/babel.config.js
  tools/popover-memory-test/package-lock.json
  tools/popover-memory-test/package.json
  tools/popover-memory-test/public/favicon.ico
  tools/popover-memory-test/public/index.html
  tools/popover-memory-test/src/App.vue
  tools/popover-memory-test/src/main.js
Labels: no-visual-test

#1317 fix: npm run lint not detecting errors
  .eslintignore
  .eslintrc.cjs
  components/checkbox/checkbox.test.js
  components/emoji_picker/composables/useKeyboardNavigation.js
  components/radio/radio.test.js
  components/scroller/modules/core_scroller.vue
  components/scroller/modules/scroller_item.vue
  components/tabs/tab_group.test.js
  package.json
  recipes/cards/ivr_node/ivr_node.test.js
  tests/fixtures/radios.vue
  tools/popover-memory-test/README.md
  tools/popover-memory-test/babel.config.js
  tools/popover-memory-test/package-lock.json
  tools/popover-memory-test/package.json
  tools/popover-memory-test/public/favicon.ico
  tools/popover-memory-test/public/index.html
  tools/popover-memory-test/src/App.vue
  tools/popover-memory-test/src/main.js
Labels: no-visual-test

#1315 refactor(dp-85018): modify msg input emoji picker pass through props structure
  recipes/conversation_view/message_input/message_input.stories.js
  recipes/conversation_view/message_input/message_input.vue
  recipes/conversation_view/message_input/message_input_default.story.vue
Labels: no-visual-test

#1307 feat(emoji-picker): emoji picker component
  components/emoji_picker/emoji_picker.mdx
  components/emoji_picker/emoji_picker.stories.js
  components/emoji_picker/emoji_picker.test.js
  components/emoji_picker/emoji_picker.vue
  components/emoji_picker/emoji_picker_constants.js
  components/emoji_picker/emoji_picker_default.story.vue
  components/emoji_picker/emoji_picker_popover.story.vue
  components/emoji_picker/emojis/activity-dark.json
  components/emoji_picker/emojis/activity-default.json
  components/emoji_picker/emojis/activity-light.json
  components/emoji_picker/emojis/activity-medium-dark.json
  components/emoji_picker/emojis/activity-medium-light.json
  components/emoji_picker/emojis/activity-medium.json
  components/emoji_picker/emojis/flags.json
  components/emoji_picker/emojis/food.json
  components/emoji_picker/emojis/index.js
  components/emoji_picker/emojis/nature.json
  components/emoji_picker/emojis/objects-dark.json
  components/emoji_picker/emojis/objects-default.json
  components/emoji_picker/emojis/objects-light.json
  components/emoji_picker/emojis/objects-medium-dark.json
  components/emoji_picker/emojis/objects-medium-light.json
  components/emoji_picker/emojis/objects-medium.json
  components/emoji_picker/emojis/people-dark.json
  components/emoji_picker/emojis/people-default.json
  components/emoji_picker/emojis/people-light.json
  components/emoji_picker/emojis/people-medium-dark.json
  components/emoji_picker/emojis/people-medium-light.json
  components/emoji_picker/emojis/people-medium.json
  components/emoji_picker/emojis/regional.json
  components/emoji_picker/emojis/symbols.json
  components/emoji_picker/emojis/travel.json
  components/emoji_picker/index.js
  components/emoji_picker/modules/emoji_description.vue
  components/emoji_picker/modules/emoji_search.vue
  components/emoji_picker/modules/emoji_selector.vue
  components/emoji_picker/modules/emoji_skin_selector.vue
  components/emoji_picker/modules/emoji_tabset.vue
  emoji.js
  index.js
Labels: vue2-only, visual-test-ready

#1318 fix: updates necessary for feed-item-row product implementation
  components/emoji_text_wrapper/emoji_text_wrapper.vue
  recipes/conversation_view/emoji_row/emoji_row.vue
  recipes/conversation_view/feed_item_row/feed_item_row.vue
  recipes/conversation_view/feed_item_row/feed_item_row_default.story.vue
Labels: vue2-only, visual-test-ready
